*{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    padding:0;
    margin:0;
    border:0;
    background-color: #819A91;
}

#title{
    text-align: center;
    margin:0;
    width:99.5%;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

#rules{
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2,h4{
    margin:15px;
    text-align: center;
    font-weight: 200;
}

h1{
    font-weight:100;
}
.scoreboard {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A7C1A8;
    padding:0;
    margin:0;
    border:5px solid #D1D8BE;
    border-radius:5px;
    height:70px;
}

.scores {
    display:flex;
    justify-content: space-evenly;
    width: 99.5%;
    gap:50px;
}



#buttons{
    padding:20px;
    display:flex;
    justify-content: space-evenly;
}

button{
    width:200px;
    height:100px;
    border-radius: 15px;
    border: 2px solid #D1D8BE;
    border-color:#D1D8BE;
    background-color: #EEEFE0;
    color:black;
    font-size:36px;
}

#results{
    border: 2px solid #D1D8BE;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    border-radius: 10px;
    height:50px;
    background-color: #A7C1A8;
}

#choices{
    border: 2px solid #D1D8BE;
    border-radius: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 100px;
    height:350px;
    background-color: #D1D8BE;
}

#userChoice{
    padding:0;
    border:0;
    margin:0;
    text-align: center;
}

#computerChoice{
    padding:0;
    border:0;
    margin:0;
    text-align: center;
}

h1{
    border:0;
    padding: 0;
    margin:0;
}
